body {
  min-width: 768px;
}

b, p, strong, span, h1, h2, h3, h4 {
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

b, h1, h2, h3, h4 {
  color: #C22156;
}

p {
  color: #1E1E1E;
}

.top-header {
  height: 132px;
  width: 100%;
  background: linear-gradient(41.01deg, #E40D54 22.18%, #FDB008 96.58%);
}

.logo-container {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: calc(100vh - 132px);
}

.photo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  max-width: 361px;
  height: 468px;
  width: 100%;
  background-color: black;
  object-fit: cover;
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.29);
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.29);
  -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.29);
}

.item-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.item-icon {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
}

.item-info {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.icon-image {
  width: 24px;
  height: 24px;
  object-fit: fill;
}

.bottom-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #FDB008;
}